# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Environment Variables & Secrets
.env
.env.local
*.secret

# Database
*.db
*.sqlite
*.sqlite3
database.db

# Logs & temp
*.log
scratch/
.system_generated/
sizningrasmlar/

# Frontend Web App (alohida repozitoriyda bo'lgani uchun butunlay chiqarib tashlandi)
sokinqalb-uz/
sokinqalb-uz
